---

- include: preflight.yml

- name: Install packages to add user
  package: name={{ item }}
  with_items:
  - '{{ password_pkg }}'
  - '{{ ssh_pkg }}'
  - sudo
  - bash

- name: Passwordless sudo for sudo group
  lineinfile:
    path: /etc/sudoers.d/passwordless
    line: '%sudo ALL=(ALL) NOPASSWD: ALL'
    create: yes
    owner: root
    group: root
    mode: 0600

- name: Install sudo and users group
  group:
    name: '{{ item }}'
    state: present
  with_items: [users, sudo, ssh]

- include: configure.yml

- set_fact: username='{{ username|default(lookup("env", "USER")) }}'

- name: Add your $USER with sudo and ssh key from github by default
  vars:
    sudos: [ALL]
    usergroups: sudo
  include_role:
    name: yourlabs.ssh
    tasks_from: adduser.yml
